/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.link {
	color: #1678C2;
    cursor: pointer;
}

.initgrid {
	height: 100vh;
}

.initgrid *{
	box-shadow: none !important;
}

.flipsvg {
	transform: 
		scale(-1,1) rotateX(180deg);
}

.footer {
	padding-bottom: 0 !important;
}

.bottomborder {
	border-bottom: 3px solid #FF9600;
}