/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.link {
	color: #1678C2;
    cursor: pointer;
}

.initgrid {
	height: 100vh;
}

.initgrid *{
	box-shadow: none !important;
}

.flipsvg {
	transform: 
		scale(-1,1) rotateX(180deg);
}

.footer {
	padding-bottom: 0 !important;
}

.bottomborder {
	border-bottom: 3px solid #FF9600;
}

.bottombordergradient {
	border-bottom: 10px solid;
	border-image: linear-gradient(0deg, rgba(255,150,0,1) 0%, rgba(247,211,72,1) 100%) 60 30;
}

.bigfont {
	color: #FF9600;
	font-size: 26pt !important;
	font-weight: 800;
}

.wavedowntext {
	display: flex; 
	justify-content: center; 
	align-items: end;
	margin-bottom: 1.5rem;
	margin-top: 1rem;
}

.ui.secondary.pointing.menu .item {
	color: #FF9600 !important;
	opacity: 0.4 !important;
}


.ui.secondary.pointing.menu .active.item {
	color:#FF9600 !important;
  	border-color: #FF9600 !important;
  	opacity: 1 !important;
}

.noborderafter *{
	border: none !important;
}
