@font-face {
    font-family: 'Futura-Bold';
    src: url('./../fonts/Futura-Bold.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/Futura-Bold.woff') format('woff'),
         url('./../fonts/Futura-Bold.ttf')  format('truetype'),
         url('./../fonts/Futura-Bold.svg#webfont') format('svg');
}

@font-face {
    font-family: 'Futura-Light';
    src: url('./../fonts/Futura-Light.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/Futura-Light.woff') format('woff'),
         url('./../fonts/Futura-Light.ttf')  format('truetype'),
         url('./../fonts/Futura-Light.svg#webfont') format('svg');
}

@font-face {
    font-family: 'Keep Calm Regular';
    src: local('Keep Calm Regular'), url('./../fonts/KeepCalm-Medium.woff') format('woff');
}

.bold {
    font-family: 'Futura-Bold';
}

.light {
    font-family: 'Futura-Light';
}

.ui.popup.visible {
    font-family: 'Futura-Light';
}

.regular {
    font-family: 'Keep Calm Regular';
}

.ui.secondary.pointing.menu .item {
    font-family: 'Keep Calm Regular';
}
