@model CriThink.Server.Web.Areas.Publics.ViewModel.MessageViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = @Model.Title;
}

<style>
    .crithink-logo {
        display: block;
        margin: auto;
        margin-bottom: 15px;
    }
</style>

<div class="p-4 text-center">
    <img src="/logo.svg" width="200" alt="Crithink Logo" class="crithink-logo">
    <h5 class="text-center">@Model.Message</h5>
</div>