@{
    @model string
    Layout = "_Layout";
    //ViewData["Title"] = "Change password";
}

<style>
    .crithink-logo {
        display: block;
        margin: auto;
        margin-bottom: 15px;
    }
</style>

<div class="bg-white p-4 shadow">
    <div class="p-3">
        <img src="/logo.svg" width="200" alt="Crithink Logo" class="crithink-logo">
        <h5 class="text-center">@Model</h5>
    </div>
</div>