@model CriThink.Common.Endpoints.DTOs.Admin.DebunkingNewsAddRequest
@{
    Layout = "_LayoutApi";
    ViewData["Title"] = "Add News";
}

<div class="bg-white p-4 shadow text-center m-4 mw-100">
    @using(Html.BeginForm("Addnews", "DebunkingNews", FormMethod.Post)) 
    {
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Title</span>
            </div>
            <input asp-for="Title" type="text" class="form-control">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Caption</span>
            </div>
            <input asp-for="Caption" type="text" class="form-control">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Uri</span>
            </div>
            <input asp-for="Link" type="text" class="form-control">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Keywords</span>
            </div>
            <input asp-for="Keywords" type="text" class="form-control">
        </div>

        <input type="submit" value="Add" />
    }
</div>