@model CriThink.Common.Endpoints.DTOs.Admin.DebunkingNewsAddRequest
@{
    Layout = "_LayoutApi";
    ViewData["Title"] = "Add News";
}

<div class="bg-white p-4 shadow text-center m-4 mw-100">
    @using(Html.BeginForm("Addnews", "DebunkingNews", FormMethod.Post)) 
    {
        <label for="title-input">Title</label>
        <input asp-for="Title" id="title-input" type="text">
        <label for="caption-input">Caption</label>
        <input asp-for="Caption" aspid="caption-input" type="text">
        <label for="uri-input">Uri</label>
        <input asp-for="Link" id="uri-input">
        <small>Must be have https://</small>
        <label for="keywords-input">Keywords</label>
        <input asp-for="Keywords" id="keywords-input">

    <input type="submit" value="Add" />
    }
</div>