@using CriThink.Common.Endpoints.DTOs.Admin;
@model IList<DebunkingNewsGetAllResponse>;
@{
    Layout = "_LayoutApi";
    ViewData["Title"] = "Debunking News";
}
<div class="bg-white p-4 shadow text-center m-4 mw-100">
    <!-- (START) INPUT SECTION -->
    <div id="toolbox" class="border p-2 mb-2">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addnewsmodal"><i class="fas fa-plus"></i></button>
        <button id="deletenewstoolbar" type="button" class="btn btn-danger" data-toggle="modal" data-target="#removenewsmodal"><i class="fas fa-trash-alt"></i></button>
    </div>
    <table id="table" data-click-to-select="true" data-height="400" data-loading-template="loadingTemplate">
        <thead>
            <tr>
                @foreach(var debunkingnews in Model) 
                {
                    <th>@debunkingnews.Title</th>
                }
                @*
                <th class="d-none" data-field="state" data-radio="true"></th>
                <th data-field="uri">Uri</th>
                <th data-field="classification">Classification</th>
                *@
            </tr>
        </thead>
    </table>

    <!-- (END) INPUT SECTION -->
    <!-- (START) ADD NEWS MODAL -->
    <div class="modal fade" id="addnewsmodal" tabindex="-1" role="dialog" aria-labelledby="addnewsmodal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add news source</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="input-url">Uri</label>
                    <input type="text" class="form-control" id="uri-input" aria-describedby="basic-addon3">
                    <small>The uri must have http:// or https://</small>
                    <br /><br />
                    <label for="input-classification">Classification</label>
                    <select class="custom-select" id="class-input">
                        <option selected>Reliable</option>
                        <option>Satirical</option>
                        <option>Conspiracist</option>
                        <option>FakeNews</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-addnews" class="btn btn-success">Add</button>
                </div>
            </div>
        </div>
    </div>
    <!-- (END) ADD NEWS MODAL -->
    <!-- (START) REMOVE NEWS MODAL -->
    <div class="modal fade" id="removenewsmodal" tabindex="-1" role="dialog" aria-labelledby="removenewsmodal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Are you sure to delete this news source?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    You are selected <b id="uriselected"></b> with classification <b id="classificationselected"></b>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="btn-removenews" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- (END) REMOVE NEWS MODAL -->
    <div class="mt-3">
        <a asp-controller="Home" asp-action="Index">Return to Home</a>
    </div>
</div>