@using CriThink.Common.Endpoints.DTOs.Admin;
@model IList<DebunkingNewsGetAllResponse>;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Debunking News";
}

<div class="bg-white p-4 shadow text-center m-4 mw-100">
    <div id="toolbox" class="border p-2 mb-2">
        <a asp-area="BackOffice" asp-controller="DebunkingNews" asp-action="AddNewsView" type="button" class="btn btn-success"><i class="fas fa-plus"></i></a>
        <a asp-area="BackOffice" asp-controller="DebunkingNews" asp-action="RemoveNewsView" type="button" class="btn btn-danger" ><i class="fas fa-trash-alt"></i></a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Publisher</th>
            </tr>
        </thead>
        @foreach(var debunkedNews in Model) 
        {
            <tr>
                <td>@debunkedNews.Title</td>
                <td>@debunkedNews.Publisher</td>
            </tr>
        }
    </table>

    <!-- PageIndex nav -->
    <nav>
      <ul class="pagination justify-content-center">
        <li id="prevPage" class="page-item">
          <a class="page-link pointer" aria-label="Previous">
            <span>Previous</span>
          </a>
        </li>
        <li class="page-item active"><a id="currentPage" class="page-link"></a></li>
        <li class="page-item">
          <a id="nextPage" class="page-link pointer" aria-label="Next">
            <span>Next</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- PageIndex nav -->

    <!-- PageSize nav -->
    <small>User for page</small>
    <nav>
      <ul id="pageSizenav" class="pagination justify-content-center">
        <li class="page-item pointer"><a asp-route-PageSize="20" asp-route-PageIndex="1" class="page-link">20</a></li>
        <li class="page-item pointer"><a asp-route-PageSize="50" asp-route-PageIndex="1" class="page-link">50</a></li>
        <li class="page-item pointer"><a asp-route-PageSize="100" asp-route-PageIndex="1" class="page-link">100</a></li>
      </ul>
    </nav>
    <!-- PageSize nav -->

    <div class="mt-3 border-top pt-3">
        <a asp-controller="Home" asp-action="Index">Return to Home</a>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function(){
            let pageSize = parseInt(GetParameterValues('PageSize'));  
            let pageIndex = parseInt(GetParameterValues('PageIndex'));

            if(!pageSize || !pageIndex){
                pageSize = 20;
                pageIndex = 1;
            }

            let url = '@Url.Action("Index", "DebunkingNews")'.concat('?PageSize='+pageSize+'&PageIndex=');
            $('#nextPage').attr('href',url+(pageIndex+1));
            $('#prevPage').children().attr('href',url+(pageIndex-1));

            $('#currentPage').html(pageIndex);

            if (pageIndex == 1) {
                $('#prevPage').toggleClass('disabled');
            }

            function GetParameterValues(param) {  
                var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');  
                for (var i = 0; i < url.length; i++) {  
                    var urlparam = url[i].split('=');  
                    if (urlparam[0] == param) {  
                        return urlparam[1];  
                    }  
                }  
            };
        });
    </script>
}
