@using CriThink.Common.Endpoints.DTOs.Admin;
@model IList<DebunkingNewsGetAllResponse>;
@{
    Layout = "_LayoutApi";
    ViewData["Title"] = "Debunking News";
}
<div class="bg-white p-4 shadow text-center m-4 mw-100">
    <div id="toolbox" class="border p-2 mb-2">
        <a asp-area="BackOffice" asp-controller="DebunkingNews" asp-action="AddNewsView" type="button" class="btn btn-success"><i class="fas fa-plus"></i></a>
        <a asp-area="BackOffice" asp-controller="DebunkingNews" asp-action="RemoveNewsView" type="button" class="btn btn-danger" ><i class="fas fa-trash-alt"></i></a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Publisher</th>
            </tr>
        </thead>
        @foreach(var debunkedNews in Model) 
        {
            <tr>
                <td>@debunkedNews.Title</td>
                <td>@debunkedNews.Publisher</td>
            </tr>
        }
    </table>
    <div class="mt-3">
        <a asp-controller="Home" asp-action="Index">Return to Home</a>
    </div>
</div>