@using CriThink.Common.Endpoints.DTOs.Admin;
@model IList<DebunkingNewsGetAllResponse>;
@{
    Layout = "_LayoutApi";
    ViewData["Title"] = "Remove News";
}

<div class="bg-white p-4 shadow text-center m-4 mw-100">
    @foreach(var c in Model)
    {
        <input type="radio" name="allnews" value="@c.Id">@c.Title
    }
    <button id="button">Vai</button>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function() {
            $("#button").click(function(){
                let news = {}
                news.Id = $('input[name="allnews"]:checked').val();
                $.post("@Url.Action("RemoveNews")", { removenewsModel: news }, function () {
                    alert("Success!");
                    location.reload();
                })
                .fail(function(data) {
                    alert("Error");
                });
            });
        });
    </script>
}