@model CriThink.Server.Web.Areas.Publics.ViewModel.Identity.ResetPasswordViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Change password";
}

<style>
    .crithink-logo {
        display: block;
        margin: auto;
        margin-bottom: 15px;
    }
</style>

<div class="p-4 text-center">
    <img src="/logo.svg" width="250" alt="Crithink Logo">
    <form class="p-3" method="post" asp-action="ResetPassword">
        <h1>Reset Password</h1>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input asp-for="Password" class="form-control" aria-describedby="emailHelp" placeholder="New Password">
            @*<span asp-validation-for="EmailOrUsername"></span>*@
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input asp-for="ConfirmPassword" class="form-control" aria-describedby="emailHelp"
                   placeholder="Repeat new password">
            @*<span asp-validation-for="Password"></span>*@
        </div>
        <input class="btn btn-purple" type="submit" value="Reset" />
        <input type="hidden" asp-for="@Model.UserId" />
        <input type="hidden" asp-for="@Model.Code" />
    </form>
    <div class="text-danger" asp-validation-summary="All"></div>
    <div id="errordiv" class="alert alert-danger mt-3 d-none">
        <span><i class="fas fa-exclamation-circle"></i>Input not valid</span>
    </div>
</div>
