@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hey, @User?.Identity?.Name!</h1>
    <p>Welcome to the CriThink backoffice</p>
</div>
