@using CriThink.Common.Endpoints.DTOs.Admin;
@model IList<RoleGetResponse>;

@{
    Layout = "_LayoutPagination";
    ViewData["Title"] = "Roles Management";
}

@section sidebarLeft
{
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <a asp-area="BackOffice" asp-controller="UserManagement" asp-action="Index" class="list-group-item list-group-item-action bg-light">User</a>
            <a asp-area="BackOffice" asp-controller="UserManagement" asp-action="GetRole" class="list-group-item list-group-item-action bg-light font-weight-bold">Role</a>
        </div>
    </div>
}
@section sidebarRight
{
    <div id="toolbox" class="border p-2 mb-2">
        <!-- TODO -->
    </div>

    <table class="table">
        <thead>
            <tr>
                <th data-field="role" data-sortable="true">Role</th>
            </tr>
        </thead>
        @foreach(var role in Model) 
        {
            <tr>
                <td>@role.Name</td>
            </tr>
        }
    </table>
}