@using CriThink.Common.Endpoints.DTOs.Admin;
@model IList<RoleGetResponse>;

@{
    Layout = "_Layout";
    ViewData["Title"] = "Roles Management";
}

@section hasSidebar 
{

<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
        <a asp-area="BackOffice" asp-controller="UserManagement" asp-action="Index" class="list-group-item list-group-item-action bg-light">User</a>
        <a asp-area="BackOffice" asp-controller="UserManagement" asp-action="GetRole" class="list-group-item list-group-item-action bg-light font-weight-bold">Role</a>
        <a asp-area="BackOffice" asp-controller="UserManagement" asp-action="GetAdmin" class="list-group-item list-group-item-action bg-light">Admins</a>
    </div>
</div>
<!-- /#sidebar-wrapper -->

<div class="p-4 text-center m-4 w-100">

    <div id="toolbox" class="border p-2 mb-2">
        <button class="btn btn-success"><i class="fas fa-plus"></i></button>
        <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
        <button class="btn btn-info"><i class="fas fa-info-circle"></i></button>
        <button class="btn btn-warning"><i class="fas fa-pen"></i></button>
    </div>

    <table class="w-100" id="tableUser" data-click-to-select="true" data-search="true" data-height="400" data-show-columns="true" data-loading-template="loadingTemplate">
        <thead>
            <tr>
                <th data-field="role" data-sortable="true">Role</th>
            </tr>
        </thead>
        @foreach(var role in Model) 
        {
            <tr>
                <td>@role.Name</td>
            </tr>
        }
    </table>
</div>

}