@{
    Layout = "_Layout";
    ViewData["Title"] = "News Analyzer";
}


@section haveSidebar 
{

<div class="d-flex" id="wrapper">
	<!-- Sidebar -->
	<div class="bg-light border-right" id="sidebar-wrapper">
	    <div class="list-group list-group-flush">
	        <a href="#" class="list-group-item list-group-item-action bg-light">Example1</a>
	        <a href="#" class="list-group-item list-group-item-action bg-light">Example2</a>
	    </div>
	</div>
	<!-- /#sidebar-wrapper -->
	<div class="bg-white p-4 text-center m-4 w-100">
		<p>News Analyzer</p>
	</div>
</div>

}