@using CriThink.Server.Web.Areas.BackOffice.ViewModels.NewsSource
@model EditNewsSourceViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Edit News Source";
}

<div class="p-4 text-center m-4 mw-100">
    <h3 class="mb-3">Edit News Source</h3>
    @using(Html.BeginForm("Edit", "NewsSource", FormMethod.Post)) 
    {
        @Html.HiddenFor(x => x.OldLink)
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Uri</span>
            </div>
            <input asp-for="NewLink" class="form-control">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Classification</span>
            </div>
             <select asp-for="Classification" asp-items="Html.GetEnumSelectList<Classification>()"></select>
        </div>

        @if(!Html.ViewData.ModelState.IsValid) 
        {
            @Html.ValidationSummary(null, new { @class = "alert alert-danger" })
        }

        <button class="btn btn-success btn-block" type="submit" ><i class="fas fa-plus"></i></button>
    }
</div>