@using CriThink.Server.Web.Areas.BackOffice.ViewModels.NewsSource;
@model IndexViewModel;

@{
    Layout = "_Layout";
    ViewData["Title"] = "News Analyzer";
}


<div class="p-4 text-center m-4 w-100">
    <div id="toolbox" class="border p-2 mb-2">
        <a type="button" class="btn btn-success"><i class="fas fa-plus"></i></a>
        <a type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Classification</th>
            </tr>
        </thead>
        @foreach (var news in Model.NewsSources)
        {
            <tr>
                <td>@news.Uri</td>
                <td>@news.Classification</td>
            </tr>
        }
    </table>

    <!-- PageIndex nav -->
    <nav>
        <ul class="pagination justify-content-center">
            <li id="prevPage" class="page-item">
                <a class="page-link pointer" aria-label="Previous">
                    <span>Previous</span>
                </a>
            </li>
            <li class="page-item active"><a id="currentPage" class="page-link"></a></li>
            <li class="page-item">
                <a id="nextPage" class="page-link pointer" aria-label="Next">
                    <span>Next</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- PageIndex nav -->
    <!-- PageSize nav -->
    <small>News for page</small>
    <nav>
        <ul id="pageSizenav" class="pagination justify-content-center">
            <li class="page-item pointer"><a asp-route-PageSize="20" asp-route-PageIndex="1" class="page-link">20</a></li>
            <li class="page-item pointer"><a asp-route-PageSize="50" asp-route-PageIndex="1" class="page-link">50</a></li>
            <li class="page-item pointer"><a asp-route-PageSize="100" asp-route-PageIndex="1" class="page-link">100</a></li>
        </ul>
    </nav>
    <!-- PageSize nav -->
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function(){
            let pageSize = parseInt(GetParameterValues('PageSize'));
            let pageIndex = parseInt(GetParameterValues('PageIndex'));

            if(!pageSize || !pageIndex){
                pageSize = 20;
                pageIndex = 1;
            }

            let url = '@Url.Action("Index", "NewsSource")'.concat('?PageSize='+pageSize+'&PageIndex=');
            $('#nextPage').attr('href',url+(pageIndex+1));
            $('#prevPage').children().attr('href',url+(pageIndex-1));

            $('#currentPage').html(pageIndex);

            if (pageIndex == 1) {
                $('#prevPage').toggleClass('disabled');
            }

            function GetParameterValues(param) {
                var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                for (var i = 0; i < url.length; i++) {
                    var urlparam = url[i].split('=');
                    if (urlparam[0] == param) {
                        return urlparam[1];
                    }
                }
            };
        });
    </script>
}
