@using CriThink.Server.RazorViews.Views.Emails.AlertNotification
@model UnknownDomainAdminAlertViewModel

<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crithink - Confirm Account</title>
    <style type="text/css">
        @@media only screen and (min-device-width: 601px) {
            .content {
                width: 600px !important;
            }
        }

        @@media screen {
            @@font-face {
                font-family: 'Urbanist';
                src: url('https://d3d7rr2pkkio8k.cloudfront.net/Urbanist-Regular.woff') format('woff');
                font-weight: normal;
                font-style: normal;
            }
        }

        body {
            font-family: 'Urbanist';
            margin: 0;
            padding: 0;
            min-width: 100% !important;
            text-align: center;
            color: #3d3dca;
            mso-font-alt: 'Arial';
        }

        .content {
            width: 100%;
            max-width: 600px;
        }
    </style>
</head>

<body yahoo>
    <p>Email does not display correctly? Please view it in your browser</p>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <table class="content" border="0" align="center" cellpadding="0" cellspacing="0"
                    style="border: 10px solid #fa9700; padding: 40px">
                    <tr>
                        <td class="imgHeader">
                            <img src="https://d3d7rr2pkkio8k.cloudfront.net/web/question.png" width="200">
                        </td>
                    </tr>
                    <tr>
                        <td class="text">
                            <p>The user '@Model.UserEmail' searched the url
                            <h3>@Model.UnknownDomainUrl</h3> but it not available in our platform</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="imgFooter">
                            <br />
                            <img src="https://d3d7rr2pkkio8k.cloudfront.net/crithink.png" width="100">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>