@using Microsoft.AspNetCore.Hosting;

@{
    Layout = "_Layout";
}

@section sidebarLeft
{
    @RenderSection("sidebarLeft", false)
}

@section sidebarRight
{
    @RenderSection("sidebarRight", false)
}

@section pagination 
{
    <div id="pagination">
        <nav>
            <ul class="pagination justify-content-center">
                <li id="prevPage" class="page-item">
                    <a class="page-link pointer" aria-label="Previous">
                        <span>Previous</span>
                    </a>
                </li>
                <li class="page-item active"><a id="currentPage" class="page-link"></a></li>
                <li id="nextPage" class="page-item">
                    <a class="page-link pointer" aria-label="Next">
                        <span>Next</span>
                    </a>
                </li>
            </ul>
        </nav>

        <nav>
            <ul id="pageSizenav" class="pagination justify-content-center">
                <li class="page-item pointer"><a asp-route-PageSize="20" asp-route-PageIndex="0"
                        class="page-link">20</a>
                </li>
                <li class="page-item pointer"><a asp-route-PageSize="50" asp-route-PageIndex="0"
                        class="page-link">50</a>
                </li>
                <li class="page-item pointer"><a asp-route-PageSize="100" asp-route-PageIndex="0"
                        class="page-link">100</a>
                </li>
            </ul>
        </nav>
    </div>
}

@section paginationScript 
{
    <script type="text/javascript">
        $(function () {
            let pageSize = parseInt(GetParameterValues('PageSize'));
            let pageIndex = parseInt(GetParameterValues('PageIndex'));

            if (isNaN(pageSize) || isNaN(pageIndex) || pageIndex < 0 || pageSize < 1) {
                pageSize = 20;
                pageIndex = 0;
            }

            let url = window.location.pathname.concat('?PageSize=' + pageSize + '&PageIndex=');
            $('#nextPage').children().attr('href', url + (pageIndex + 1));
            $('#prevPage').children().attr('href', url + (pageIndex - 1));

            $('#currentPage').html(pageIndex + 1);

            if (pageIndex == 0) {
                $('#prevPage').toggleClass('disabled');
            }

            if ($('#hasNextPage').text() == 'False') {
                $('#nextPage').toggleClass('disabled');
            }

            function GetParameterValues(param) {
                var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                for (var i = 0; i < url.length; i++) {
                    var urlparam = url[i].split('=');
                    if (urlparam[0] == param) {
                        return urlparam[1];
                    }
                }
            };
        });
    </script>
}

@section Scripts 
{
    @RenderSection("Scripts", false)
}