@{
	Layout = "_LayoutApi";
    ViewData["Title"] = "Control Panel";
}

<div class="main bg-orange d-flex justify-content-center align-items-center">
	<div class="bg-white p-4 shadow text-center">
		<!-- START INPUT SECTION -->
		<i class="fas fa-user-circle fa-7x m-2"></i>
		<h3 id="welcome"></h3>
		<div class="p-3 card">
			<div class="mb-2">
				<i class="fas fa-users"></i>
				<a>User Management</a>
			</div>
			<div>
				<i class="fas fa-newspaper"></i>
				<a>Debunking News</a>
			</div>
		</div>
		<!-- END INPUT SECTION -->
		<div id="errordiv" class="alert alert-danger mt-3 d-none">
			<span><i class="fas fa-exclamation-circle"></i> Input not valid</span>
		</div>
	</div>
</div>