@{
	Layout = "_LayoutApi";
    ViewData["Title"] = "Control Panel";
}
<div class="bg-white p-4 shadow text-center">
	<!-- START INPUT SECTION -->
	<table id="table">
		<thead>
		    <tr>
		      <th data-field="uri">Uri</th>
		      <th data-field="classification">Classification</th>
		    </tr>
  		</thead>
	</table>
	<!-- END INPUT SECTION -->
	<div class="mt-3">
		<a href="/control-panel">Return at Control Panel</a>
	</div>
</div>