@{
	Layout = "_LayoutApi";
    ViewData["Title"] = "User Management";
}
<div class="bg-white p-4 shadow text-center m-4">
	<!-- (START) INPUT SECTION -->
	<div id="toolbox" class="border p-2 mb-2">
		<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addusermodal"><i class="fas fa-plus"></i></button>
		<button id="deleteusertoolbar" type="button" class="btn btn-danger" data-toggle="modal" data-target="#removeusermodal"><i class="fas fa-trash-alt"></i></button>
		<button id="infousertoolbar" type="button" class="btn btn-primary" data-toggle="modal" data-target="#infousermodal"><i class="fas fa-info-circle"></i></button>
	</div>
	<table id="tableUser" data-click-to-select="true">
		<thead>
		    <tr>
		      <th class="d-none" data-field="state" data-radio="true"></th>
		      <th data-field="userId">User Id</th>
		      <th data-field="username">Username</th>
		      <th data-field="role">Role</th>
		    </tr>
  		</thead>
	</table>
	<!-- (END) INPUT SECTION -->
	<!-- (START) ADD USER MODAL -->
	<div class="modal fade" id="addusermodal" tabindex="-1" role="dialog" aria-labelledby="addusermodal" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Add user</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
		      	<label>Username</label>
		        <input type="text" class="form-control" id="username-input" aria-describedby="basic-addon3">
		        <label>Email</label>
		        <input type="text" class="form-control" id="email-input" aria-describedby="basic-addon3">
		        <label>Password</label>
		        <input type="password" class="form-control" id="password-input" aria-describedby="basic-addon3">
		        <label>Role</label> 
		        <!-- For now hardcoded -->
		        <select class="custom-select" id="role-input">
				    <option selected>No role</option>
				    <option>Admin</option>
			  	</select>
	  	  </div>
	      <div class="modal-footer">
	        <button type="button" id="btn-adduser" class="btn btn-success">Add</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- (END) ADD USER MODAL -->
	<!-- (START) REMOVE USER MODAL -->
	<div class="modal fade" id="removeusermodal" tabindex="-1" role="dialog" aria-labelledby="removeusermodal" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Are you sure to delete this user?</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	You are selected user with name <b id="userselected"></b> and role <b id="roleselected"></b>
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="button" id="btn-removeuser" class="btn btn-danger">Delete</button>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- (END) REMOVE USER MODAL -->
	<!-- (START) INFO USER MODAL -->
	<div class="modal fade" id="infousermodal" tabindex="-1" role="dialog" aria-labelledby="infousermodal" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 id="infoname" class="modal-title"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<pre id="infobody"></pre>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- (END) INFO USER MODAL -->
	<div class="mt-3">
		<a href="/control-panel">Return at Control Panel</a>
	</div>
</div>